<!-- function Check(){
    const [count, setCount] = useState(0);
    return(
        <h1>This is the code inside function component</h1>
    )
}
export default Check; -->



Class Component will do 

1. Importing Component everytime
2. Extending Component class
3. Render method is mandatory and needs to be overridden
4. Constructor is needed to work with state and props
5. This keyword is used to access props and state, without this keyword we cannot access props and state


Component Life Cycle Methods 

1. componentDidMount() : This method is called after the component is rendered for the first time. (Once)
2. componentDidUpdate() : This method is called after the component is updated.    (Everytime after an update)
3. componentWillUnmount() : This method is called before the component is unmounted and destroyed. (Once)

All these 3 functions are present and imported from Component class present inside "react" library




